U4/dtd/dtd_externo.dtd

<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (nombre, apellido, ciclo, (nota_final | nota_media))>
<!ATTLIST alumno
          expediente CDATA #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT ciclo (#PCDATA)>
<!ELEMENT nota_final (#PCDATA)>
<!ELEMENT nota_media (#PCDATA)>
