U5/UD5_Examen/ej1-josemariamayen.dtd

<!ELEMENT ejemplos (triangulo, mascota, centro_educativo, abono)>
<!ELEMENT triangulo (#PCDATA)>
<!ATTLIST triangulo
          base CDATA "1">
<!ELEMENT mascota (#PCDATA)>
<!ATTLIST mascota
          numero CDATA #REQUIRED>
<!ELEMENT centro_educativo (#PCDATA)>
<!ATTLIST centro_educativo
          nombre CDATA #FIXED "IES Gran Capitán">
<!ELEMENT abono (#PCDATA)>
<!ATTLIST abono
          tipo (cheque | tarjeta | efectivo) #REQUIRED>
